
html,
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  color: #00BCD4;
}



.progress-bar {
  z-index: 2;
}

.search-panel {
  max-width: 320px;
  background-color: rgb(244, 244, 247);
}
